body {
  background: linear-gradient(#5b5773, #000);
}
.container {
  height: 100vh;
  display: contents!important;
}
.home {
  .pushable {
    width: 100vw;
    display: contents;
  }
  .logo-spotify {
    width: 140px !important;
    margin: auto !important;
  }
  .sidebar {
    background-color: black !important;

    width: 19% !important;

    .item {
      &.button-principal {
        width: 100%;
        float: left !important;
        text-align: left;

        .title {
          margin-left: 15px;
        }
        i {
          display: initial !important;
        }
      }

      &:hover {
        background-color: initial !important;
      }
    }
    .title-playlist {
      color: #fff;
      font-weight: 700;
      font-size: 18px;
      text-align: left;
      padding: 17px;
      float: left;
      width: 100%;
    }
  }
  .content {
    padding: 60px;
    background: linear-gradient(#5b5773, #000);
    .table-data {
      color: #ffffff !important;
    }
    .select-genres {
      min-width: 60px;
      background-color: #fff;
      color: grey;
      border-radius: 30px;
      display: flex;
      align-items: center;
      margin-right: 0;
      height: 30px;
      font-size: 15px;
      cursor: pointer;
    }
    .content-selects {
      display: flex;
      color: #ffffff;
      .playlist-select {
        margin-left: 20px;
      }
      .button-selects {
        margin-top: 20px;
        margin-left: 20px;
        button {
        }
      }
    }
    .image-default-image {
      img {
        width: 210px;
        width: 210px;
      }
    }
    .descripcion-song {
      color: #fff;
      h1 {
        font-size: 80px;
      }
      p {
        font-size: 14px;
        margin: 10px 0;
      }
    }
    .description-song {
      margin-top: 3%;
    }
    .track-list {
      color: #fff;
      padding-top: 30px;
      .track {
        cursor: pointer;
        display: flex;
        img {
          width: 100px;
        }
        .title-duration-artist {
          padding: 6px;
        }
      }
    }
  }
}
